@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Passion One', cursive;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: whitesmoke;
}

.container {
    position: relative;
}

.container .card {
    position: relative;
    width: 480px;
    height: 720px;
    background: linear-gradient(45deg, rgba(255, 0, 255, 1) 0%, rgba(255, 255, 0, 1) 100%);
    border-radius: 40px;
    overflow: hidden;
    box-shadow: 5px 15px 20px rgba(0, 0, 0, 0.75);
}

.container .card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgb(55, 228, 32) 0%, rgba(7, 78, 10, 1) 100%);
   
    
    transition: 0.5s ease-in-out;
}

.container .card:hover:before {
    clip-path: circle(500px at 80% -20%);
}

.container .card:after {
    content: "NB";
    position: absolute;
    top: 60%;
    left: 15%;
    font-size: 16em;
    font-weight: 800;
    font-style: italic;
    color: rgba(255, 255, 255, 0.15);

}

.container .card .imgBx {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    z-index: 1000;
    width: 100%;
    height: 100%;
    transition: .5s;
}

.container .card:hover .imgBx {
    top: 0%;
    transform: translateY(-20%);
}

.container .card .imgBx img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -50%) rotate(20deg);
    width: 350px;
}

.container .card .contentBx {
    position: absolute;
    bottom: -5%;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 1s;
    z-index: 90;
}

.container .card:hover .contentBx {
    height: 400px;
}

.container .card .contentBx h2 {
    position: relative;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
}

.container .card .contentBx .size,
.container .card .contentBx .color {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    transition: .5s;
    opacity: 0;
    visibility: hidden;
}

.container .card:hover .contentBx .size {
    opacity: 1;
    visibility: visible;
    transition-delay: .5s;
}

.container .card:hover .contentBx .color {
    opacity: 1;
    visibility: visible;
    transition-delay: .6s;
}

.container .card .contentBx .size h3,
.container .card .contentBx .color h3 {
    color: white;
    font-weight: 300;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 10px;
}

.container .card .contentBx .size span {
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    font-size: 16px;
    display: inline-block;
    color: #111;
    background: #fff;
    margin: 0 5px;
    transition: .5s;
    color: #111;
    border-radius: 4px;
    cursor: pointer;
}

.container .card .contentBx .size span:hover {
    background: #B90000;
}

.container .card .contentBx .color span {
    width: 20px;
    height: 20px;
    background: #ff0;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.container .card .contentBx .color span:nth-child(2) {
    background: #062f00;
}

.container .card .contentBx .color span:nth-child(3) {
    background: #d1c700;
}

.container .card .contentBx .color span:nth-child(4) {
    background: #1d0481;
}

.container .card .contentBx .color span:nth-child(5) {
    background: #7e0101;
}

.container .card .contentBx a {
    display: inline-block;
    padding: 10px 20px;
    background: #fff;
    border-radius: 4px;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 600;
    color: #111;
    opacity: 0;
    transform: translateY(200px);
    transition: .5s;
}

.container .card:hover .contentBx a {
    opacity: 1;
    transform: translateY(200px);
    transition-delay: .7s;
}