@font-face {
    font-family: 'Roboto';
    font-weight: 700;
    src: url(../fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    src: url(../fonts/Inter-Bold.ttf);
}